---
http_interactions:
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.567526&lng=-0.182308&miles=2%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"items": [{"address_1": null, "city": null, "created": "2015-08-03T12:39:10.832204+00:00",
        "description": "Working for a cancer awareness charity in one of their shops.
        This charity shop is a retail shop that covers a large range of fashionable
        items from clothing to accessories.", "for_recruiter": {"contact_name": "Muno
        - rani il-lankkaren", "created": "2015-08-13T13:11:35.631802+00:00", "email":
        "rameshperinparaja@gmail.com", "id": "98d72e0d-8333-42c4-a234-a8a088c31c64",
        "logo": [], "name": "North west london volunteering", "phone": "020 3 468
        2282", "rating": "3.00", "slug": "north-west-london-volunteering"}, "for_recruiter_id":
        "98d72e0d-8333-42c4-a234-a8a088c31c64", "id": "0cbb0890-3f04-44c2-aac8-393775467b47",
        "interests": [{"children": [], "created": "2014-10-26T17:24:25.565446+00:00",
        "id": "7fd92e8e-c71a-40a3-a806-bcef228863b9", "name": "Marketing", "parent_id":
        "a0be8981-33c6-46df-a3fe-2100a575695f", "slug": "marketing", "updated": "2014-10-26T17:24:25.565466+00:00"}],
        "is_new": false, "lat": 51.57228, "lng": -0.19404, "location": {"admin_1":
        "England", "admin_2": "Greater London", "admin_3": "Barnet", "admin_4": null,
        "id": "95e65e3c-0485-4180-99e9-934a6a9b2ac8", "lat": 51.57228, "lng": -0.19404,
        "name": "Golders Green Underground Station"}, "location_id": "95e65e3c-0485-4180-99e9-934a6a9b2ac8",
        "location_name": "Golders Green Underground Station", "location_type": "RL",
        "micro_availability": [], "owner_recruiter": {"contact_name": "Muno - rani
        il-lankkaren", "created": "2015-08-13T13:11:35.631802+00:00", "email": "rameshperinparaja@gmail.com",
        "id": "98d72e0d-8333-42c4-a234-a8a088c31c64", "logo": [], "name": "North west
        london volunteering", "phone": "020 3 468 2282", "rating": "3.00", "slug":
        "north-west-london-volunteering"}, "owner_recruiter_id": "98d72e0d-8333-42c4-a234-a8a088c31c64",
        "photo": [], "postcode": null, "rating": "0.00", "specific_end_date": "2016-05-19T12:32:43.484000+00:00",
        "specific_start_date": "2015-11-13T14:25:56.735000+00:00", "status": "live",
        "title": "Golders green charity shop- Marie curie cancer trust", "updated":
        "2015-11-13T14:28:05.973761+00:00", "working_from_home": false}, {"address_1":
        "75 Hampstead High Street", "city": "London", "created": "2015-11-24T16:05:43.098602+00:00",
        "description": "Are you looking to gain new skills to add onto your CV? Are
        you looking to make new friends and build your confidence? Then why not volunteer
        in a Cancer Research UK shop today? \n\nThere are plenty of different roles
        available where we can make use of your skills and help you develop new ones.
        For those looking to develop their skills in customer service why not come
        and help us on the shop floor which may involve serving customers on the till.
        We have also got opportunities available for those with an interest in literature
        to help sort through our donated books and we\u2019re also looking for those
        looking to develop their team working skills to help us process our stock
        in the back. \n\nSo why not apply today?", "for_recruiter": {"contact_name":
        "James", "created": "2015-07-28T10:14:03.183059+00:00", "email": "shopvolunteering@cancer.org.uk",
        "id": "86e53f93-584b-4f55-ad31-cfca067e5641", "logo": [{"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/logo-
        RMP 2012.125x125.png", "height": 125, "width": 125}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/logo-
        RMP 2012.109x109.png", "height": 109, "width": 109}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/logo-
        RMP 2012.76x76.png", "height": 76, "width": 76}, {"absolute_url": "https://s3-eu-west-1.amazonaws.com/media.do-it.org/orgs/logos/logo-
        RMP 2012.50x50.png", "height": 50, "width": 50}], "name": "Cancer Research
        Charity Shops", "phone": "[...]
- request:
    method: get
    uri: https://api.do-it.org/v1/opportunities?lat=51.567526&lng=-0.182308&miles=2%20&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data": {"items": [{"address_1": "48 High Road", "city": "London",
        "created": "2015-10-25T11:51:43.247495+00:00", "description": "Working[...]
[...]
- request:
    method: get
    uri: https://s.yimg.com/zz/combo?nn/lib/metro/g/finance/finance_0.1.140.js&nn/lib/metro/g/flickr/flickr_0.0.16.js&nn/lib/metro/g/fptoday/fptoday_hover_1.5.53.js&nn/lib/metro/g/fstream/fstream_0.0.119.js&nn/lib/metro/g/horoscope/horoscope_0.1.52.js&nn/lib/metro/g/livevent/livevent_0.0.13.js&nn/lib/metro/g/masthead/masthead_0.2.313.js&nn/lib/metro/g/offlead/offlead_0.0.32.js&nn/lib/metro/g/sportacular/sportacular_0.0.40.js&nn/lib/metro/g/stream/stream_0.0.536.js&nn/lib/metro/g/stream/stream_action_drawer_0.0.55.js&nn/lib/metro/g/stream/video_manager_0.0.58.js&nn/lib/metro/g/todaycontainer/todaycontainer_0.0.21.js&nn/lib/metro/g/topheadlines/topheadlines_0.0.15.js&nn/lib/metro/g/uiplugins/interests_service_0.1.3.js&nn/lib/metro/g/uiplugins/storage_service_0.0.3.js&nn/lib/metro/g/weather/weather_0.1.42.js&nn/lib/metro/g/windowshade/windowshade_0.0.19.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 29 Oct 2015 07:28:46 GMT
      Content-Type:
      - application/x-javascript
      Y-Trace:
      - BAEAQAAAAAD8yojOF26qoQAAAAAAAAAAbksq37FP_I4AAAAAAAAAAAAFKG6eHdqAAAUobp4d20MXLf3YAAAAAA--
    body:
      encoding: UTF-8
      string: |
        (function(){var a=true,b=null;YModules.type_topheadlines={body:b,id:"",moduleapi:b,viewevents:["click"],instrumentationService:b,tabliteService:b,tabs:b,tabNavigationMode:b,init:function(c){this.Y=c.getService("yui");this.id=c.getId();this.moduleapi=c;this.tabliteService=this.moduleapi.getService("tablite");this.tabNavigationMode=c.getContextDa[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: "\n\nwindow.google = window.google || {};\ngoogle.maps = google.maps
        || {};\n(function() {\n  \n  function getScript(src) {\n    document.write('<'
        + 'script src=\"' + src + '\"><' + '/script>');\n  }\n  \n  var modules =
        google.maps.modules = {};\n  google.maps.__gjsload__ = function(name, text)
        {\n    modules[name] = text;\n  };\n  \n  google.maps.Load = function(apiLoad)
        {\n    delete g[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps-api-v3/api/js/23/3/intl/sl_ALL/marker.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Sun, 20 Dec 2015 23:30:51 GMT
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        google.maps.__gjsload__('marker', function(_){'use strict';var Hba=function(a){a.stop();a.vj()},CZ=function(a){return a?a.__gm_at||_.zg:null},Iba=function(){for(var a=[],b=0;b<DZ.length;b++){var c=DZ[b];EZ(c);c.j||a.push(c)}DZ=a;0==DZ.length&&(window.clearInterval(FZ),FZ=null)},GZ=function(a,b,c){_.Xa(function(){a.style.WebkitAnimationDuration=c.duration?c.duration+"ms":null;a.style.WebkitAnimationIterationCount=c.Pc;a.style.WebkitAnimationName=b})},HZ=function(a,b,c){this.R=a;this.T=b;this.N=-1;"infinity"!=c.Pc&&(this.N=c.Pc||1);this.W=c.duration||
        1E3;this.j=!1;this.O=0},EZ=function(a){if(!a.j){var b=_.wj();IZ(a,(b-a.O)/a.W);b>=a.O+a.W&&(a.O=_.wj(),"infinite"!=a.N&&(a.N--,a.N||a.cancel()))}},IZ=function(a,b){var c=1,d,e=a.T;d=e.j[JZ(e,b)];var f,e=a.T;(f=e.j[JZ(e,b)+1])&&(c=(b-d.time)/(f.time-d.time));var e=CZ(a.R),g=a.R;f?(c=(0,Jba[d.Gb||"linear"])(c)[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps-api-v3/api/js/23/3/intl/sl_ALL/map.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Sun, 20 Dec 2015 23:30:51 GMT
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        google.maps.__gjsload__('map', function(_){'use strict[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps-api-v3/api/js/23/3/intl/sl_ALL/common.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Sun, 20 Dec 2015 23:30:51 GMT
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        google.maps.__gjsload__('common', function(_){'use [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps-api-v3/api/js/23/3/intl/sl_ALL/util.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Sun, 20 Dec 2015 23:30:51 GMT
      Alternate-Protocol:
      - 443:quic,p=1
    body:
      encoding: UTF-8
      string: |
        google.maps.__gjsload__('util', function(_){'use stri[...]
- request:
    method: get
    uri: https://csi.gstatic.com/csi?action=apiboot2&e=10_1_0,10_2_0,11_1_0,11_4_0,11_5_0,11_7_0,11_8_0,11_9_0,11_10_0,11_11_0,11_12_0,11_13_0,11_14_U,11_15_0,11_16_0&libraries=places&rt=main.20&s=mapsapi3&v=2&v3v=23.3
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Last-Modified:
      - Wed, 21 Jan 2004 19:51:30 GMT
      Content-Type:
      - image/gif
      S