---
http_interactions:
- request:
    method: get
    uri: http://www.yahoo.com/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.yahoo.com/
      Content-Type:
      - text/html
      Content-Language:
      - en
      Y-Trace:
      - BAEAQAAAAAC3x3RVOS4I0wAAAAAAAAAAQmlfOau6INMAAAAAAAAAAAAFKG6d2h.0AAUobp3aJsP1VDqAAAAAAA--
    body:
      encoding: UTF-8
      string: |
        <HTML>
        <HEAD>
        <TITLE>Error</TITLE>
        </HEAD>

        <BODY BGCOLOR="white" FGCOLOR="black">
        <!-- status code : 301 -->
        <!-- Error: GET -->
        <!-- host machine: ir9.fp.ir2.yahoo.com -->
        <!-- timestamp: 1451830443.000 -->
        <!-- url: http://www.yahoo.com/-->
        <H1>Error</H1>
        <HR>

        <FONT FACE="Helvetica,Arial"><B>
        Description: Could not process this "GET" request.
        </B></FONT>
        <HR>
        </BODY>
  recorded_at: Sun, 03 Jan 2016 14:14:03 GMT
- request:
    method: get
    uri: https://www.yahoo.com/
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Y-Trace:
      - BAEAQAAAAAD23RAwDCLk9AAAAAAAAAAATCJMalg2hgIAAAAAAAAAAAAFKG6d3pMdAAUobp3h7bPxM3ciAAAAAA--
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html> <html lang=\"en-US\" class=\"dev-desktop uni-purple-border
        ua-wk ua-unknown ua-wk534 ua-safari  bkt901 https mast-enabled  uni-dark-purple
        sasb-trendingnow\" style=\"\"> <!-- m2 template  --> <head> <meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\"> <meta http-equiv=\"x-dns-prefetch-control\"
        content=\"on\"><link rel=\"dns-prefetch\" href=\"//s.yimg.com\"><link rel=\"dns-prefetch\"
        href=\"//y.analytics.yahoo.com\"><link rel=\"dns-prefetch\" href=\"//geo.query.yahoo.com\"><link
        rel=\"dns-prefetch\" href=\"//csc.beap.bc.yahoo.com\"> <title>Yahoo</title>
        <meta http-equiv=\"X-UA-Compatible\" content=\"chrome=1\"> <meta name=\"description\"
        content=\"A new welcome to Yahoo. The new Yahoo experience makes it easier
        to discover the news and information that you care about most. It's the web
        ordered for you.\"> <meta name=\"google-site-verification\" content=\"eu72AiS151ZxLrT4QF9rqvtVxIa4OjhSTBLLuH8YKok\"
        />  <meta property=\"og:title\" content=\"Yahoo\" /> <meta property=\"og:type\"
        conte[...]
- request:
    method: get
    uri: https://s.yimg.com/dh/ap/fp/flag-us.png
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Etag:
      - '"YM:1:6be6807b-4a2f-45af-9620-16a96e5dee1a000502a6302d666d"'
      Last-Modified:
      - Tue, 09 Sep 2014 18:34:39 GMT
      X-Ysws-Request-Id:
      - 1924cf82-f989-4b5b-86f8-44d60d82081a
      X-Ysws-Visited-Replicas:
      - gops.use105.mobstor.vip.bf1.yahoo.com
      Y-Trace:
      - BAEAQAAAAAAOmiouJyp5egAAAAAAAAAAGmCpdx4MJaQAAAAAAAAAAAAFKG6d7xxdAAUobp3vHa4jx5DUAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        iVBORw0KGgoAAAANSUhEUgAAACgAAAAaCAIAAABKLomcAAAEx0lEQVRIx9WV
        e0xbVRzHz7l9Q8v7MdhWQMqzFERENlwUUVlEg8bsHxYTN4I60Cygk8wxURd1
        Zi6pi04ZcURjcCZqcApzGwRwSVU2GANWGK/yLGVAgbaUS9v78Ny2QAulODBZ
        PL0595zfTX/fk8/3/M6BsrJrLAxazARFUDRJQoqymEmKIDE0sJAowga0xWxG
   [...]
- request:
    method: get
    uri: https://s.yimg.com/zz/combo?nn/lib/metro/g/yui/yui-base_3.8.4.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sun, 20 Sep 2015 23:47:16 GMT
      Content-Type:
      - application/x-javascript
      Y-Trace:
      - BAEAQAAAAABDhIaxFv5QBwAAAAAAAAAAGmCpdx4MJaQAAAAAAAAAAAAFKG6d7sMeAAUobp3uxFKo4t3YAAAAAA--
    body:
      encoding: UTF-8
      string: |
        if(typeof YUI!="undefined"){YUI._YUI=YUI;}var YUI=function(){var c=0,f=this,b=arguments,a=b.length,e=function(h,g){return(h&&h.hasOwnProperty&&(h instanceof g));},d=(typeof YUI_config!=="undefined")&&YUI_config;if(!(e(f,YUI))){f=new YUI();}else{f._init();if(YUI.GlobalConfig){f.applyConfig(YUI.GlobalConfig);}if(d){f.applyConfig(d);}if(!a){f._setup();}}if(a){for(;c<a;c++){f.applyConfig(b[c]);}f._setup();}f.instanceOf=e;return f;};(function(){var q,b,r="3.8.1",i=".",o=(document.location.protocol=="https:")?"https://yui-s.yahooapis.com/":"http://yui.yahooapis.com/",u="yui3-js-enabled",d="yui3-css-stamp",m=function(){},h=Array.prototype.slice,s={"io.xdrReady":1,"io.xdrResponse":1,"SWF.eventHandler":1},g=(typeof window!="undefined"),f=(g)?window:null,w=(g)?f.document:null,e=w&&w.documentElement,a=e&&e.className,c={},j=new Date().getTime(),n=function(A,z,y,x){if(A&&A.addEventListener){A.addEventListener(z,y,x);}else{if(A&&A.attachEvent){A.attachEvent("on"+z,y);}}},v=function(B,A,z,x){if(B&&B.removeEventListener){try{B.removeEventListener(A,z,x);}catch(y){}}else{if(B&&B.detachEvent){B.detachEvent("on"+A,z);}}},t=function(){YUI.Env.windowLoaded=true;YUI.Env.DOMReady=true;if(g){v(window,"load",[...]
- request:
    method: get
    uri: https://s.yimg.com/zz/combo?nn/lib/metro/g/theme/default/common_0.0.40.css&nn/lib/metro/g/theme/default/desktop_0.0.142.css&nn/lib/metro/g/theme/hr_blue_0.0.17.css&nn/lib/metro/g/ui/base_0.0.11.css&nn/lib/metro/g/ui/helpers_0.0.9.css&nn/lib/metro/g/ui/typography_0.0.4.css&nn/lib/metro/g/uicontrib/lw_style_css_0.0.2.css&nn/lib/metro/g/uiplugins/carousel_service_0.1.22.css&nn/lib/metro/g/uiplugins/iframeshim_service_0.0.13.css&nn/lib/metro/g/uiplugins/menu_servi[...]
- request:
    method: get
    uri: https://s.yimg.com/zz/combo?nn/lib/metro/g/adsfallback/adsfallback_0.0.55.css&nn/lib/metro/g/appscontainer/appscontainer_desktop_0.0.58.css&nn/lib/metro/g/dailyfantasy/dailyfantasy_0.0.12.css&nn/lib/metro/g/finance/finance_0.1.143.css&nn/lib/metro/g/finance/finance_base_0.0.10.css&nn/lib/metro/g/flickr/flickr_0.0.20.css&nn/lib/metro/g/footer/subfooter_0.0.38.css&nn/lib/metro/g/fp/fp_500_0.0.140.css&nn/lib/metro/g/fptoday/fptoday_flex_0.1.102.css&nn/lib/metro/g[...]
- request:
    method: get
    uri: https://s.yimg.com/rq/darla/2-9-1/js/g-r-min.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=utf-8
      Etag:
      - '"YM:1:f49f50b0-5c5f-4d21-ac62-41ae9895ac76000522296e2688f6"'
      Last-Modified:
      - Thu, 15 Oct 2015 19:10:20 GMT
      X-Ysws-Request-Id:
      - 66fcf085-9d4a-46b8-997e-f4cc11c8a3f5
    [...]
- request:
    method: get
    uri: https://s.yimg.com/dh/ap/default/150720/pc_icons_btns_sprite_0720_330pm.png
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Etag:
      - '"YM:1:7e76b525-2a41-4414-aae4-297758fa68cb00051b563e751378"'
      Last-Modified:
      - Mon, 20 Jul 2015 22:41:52 GMT
      X-Ysws-Request-Id:
      - 31cfaed8-265b-4f16-99a6-b8ac15568d41
      [...]
- request:
    method: get
    uri: https://s.yimg.com/rz/l/yahoo_en-US_f_p_142x37.png
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Etag:
      - '"YM:1:58caee44-8766-4a7a-aebd-923480fe06fc00052861028c69e4"'
      Last-Modified:
      - Sat, 02 Jan 2016 22:00:03 GMT
      X-Ysws-Request-Id:
      - ac1912b0-a74a-4ee5-ba26-061d985c6e8e
      X-Ysws-Visited-Replicas:
[...]
- request:
    method: get
    uri: https://s.yimg.com/dh/ap/default/140602/gettheapp.jpg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Etag:
      - '"YM:1:095ffa22-687c-4297-87a5-c473fae65dbd0004fade690e36f0"'
      Last-Modified:
      - Mon, 02 Jun 2014 18:17:39 GMT
      X-Ysws-Request-Id:
      - 0fdc3db5-3660-4f86-9794-8890cc4a8b82
      X-Ysws-Visited-Replic[...]
- request:
    method: get
    uri: https://s.yimg.com/os/mit/media/m/base/images/transparent-1093278.png
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Etag:
      - '"YM:1:d1d2b329-389b-4d35-a8b9-cbd9369975cf0004d61b297a80a2"'
      Last-Modified:
      - Tue, 19 Feb 2013 22:14:15 GMT
      X-Ysws-Request-Id:
      - f48bc8a1-2cb6-4343-82d4-56456306b272
      X-Ysws-Visited-Replicas:
      - gops.use45.mobstor.vip.bf1.yahoo.com
      Y-Trace:
      - BAEAQAAAAAD2M_bm.x6gcwAAAAAAAAAAbksq37FP_I4AAAAAAAAAAAAFKG6d_D9JAAUobp38P9.McstwAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAABlBMVEX/////
        //9VfPVsAAAAAXRSTlMAQObYZgAAAApJREFUCB1jYAAAAAIAAc/INeUAAAAA
        SUVORK5CYII=
  recorded_at: Sun, 03 Jan 2016 14:14:05 GMT
- request:
    method: get
    uri: https://s.yimg.com/nn/fp/rsz/010316/images/smush/1oregon-protest_120x48_1451798929.jpg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Etag:
      - '"YM:1:caa488e1-562f-4515-9fd2-8964c0fefe4e0005286747fc5bc1"'
      Last-Modified:
      - Sun, 03 Jan 2016 05:28:58 GMT
      X-Ysws-Meta-Image-Height:
      - '48'
      X-Ysws-Meta-Image-Width:
      - '120'
      X-Ysws-Request-Id:
      - e7417ea2-0512-48fc-a232-3c1756a0ba2d
      X-Ysws-Visited-Replicas:
      - gops.use105.mobstor.vip.bf1.yahoo.com
      Y-Trace:
      - BAEAQAAAAAAq4lz69yqoYwAAAAAAAAAAIFnD3tJol0wAAAAAAAAAAAAFKG6d_lEuAAUobp3.UfAL.FGaAAAAAA--
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        /9j/4AAQSkZJRgABAQAAAQABAAD//gA7Q1JFQVRPUjogZ2QtanBlZyB2MS4w
        ICh1c2luZyBJSkcgSlBFRyB2NjIpLCBxdWFsaXR5ID0gOTUK/9sAQwACAQEB
        AQECAQEBAgICAgIEAw[...]
- request:
    method: get
    uri: https://s.yimg.com/os/mit/media/m/ads/images/backfill/sports-dailyfantasy-v2-a966da5.jpg
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/jpeg
      Etag:
      - '"YM:1:a9b9500b-ce93-4fb9-9374-298a8f9bcbce00052048096063a5"'
      Last-Modified:
      - Mon, 21 Sep 2015 20:50:50 GMT
      X-Ysws-Request-Id:
      - 4722307f-b1c8-4df9-920e-b9bca[...]
[...]
